<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <%= "#{type}: #{message}" %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
