<!DOCTYPE html>
<html>
<head>
  <title>Spgateway rails</title>
  <%= stylesheet_link_tag    "spgateway/rails/application", media: "all" %>
  <%= javascript_include_tag "spgateway/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
